@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: black;
}

section.hoppip {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	font-family: 'Poppins';
	background-color: transparent;
	color: black;
	margin: 5px;
}

.btn-black {
	background-color: black;
	color: white;
}

h1 {
	font-family: 'Poppins';
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 56px;
}

p {
	font-family: 'Poppins';
	margin-top: 10px;
	margin-bottom: 8px;
}

#welcome-msg {
	font-size: 14px;
	text-align: center;
	width: 350px;
}

.beige {
	background-color: beige;
}

.red {
	background-color: pink;
}

.green {
	background-color: lightgreen;
}

.blue {
	background-color: lightblue;
}

.active {
	visibility: visible;	
	z-index: 999;
}

.inactive {
	visibility: hidden;
}

.slideFromRight-active {
	animation: slideFromRight .6s ease both;
}

.slideToLeft-active {
	animation: slideToLeft .6s ease both;
}

.slideToRight-active {
	animation: slideToRight .6s ease both;
}

.slideFromLeft-active {
	animation: slideFromLeft .6s ease both;
}

.slideFromBottom-active {
	animation: slideFromBottom .6s ease both;
}

.slideToTop-active {
	animation: slideToTop .6s ease both;
}

.slideFromTop-active {
	animation: slideFromTop .6s ease both;
}

.slideToBottom-active {
	animation: slideToBottom .6s ease both;
}

.fadeIntoBlack-active {
	animation: fadeIntoBlack .6s ease both;
}

/* KEYFRAMES */

@keyframes slideFromRight{
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

@keyframes slideToLeft {
	from {
		right: 0;
	}
	to {
		right: 100%;
	}
}

@keyframes slideFromLeft{
	from {
		right: 100%;
	}
	to {
		right: 0;
	}
}

@keyframes slideToRight {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}

@keyframes slideFromBottom {
	from {
		top: 100%;
	}
	to {
		top: 0;
	}
}

@keyframes slideToTop {
	from {
		bottom: 0;
	}
	to {
		bottom: 100%;
	}
}

@keyframes slideFromTop {
	from {
		bottom: 100%;
	}
	to {
		bottom: 0;
	}
}

@keyframes slideToBottom{
	from {
		top: 0;
	}
	to {
		top: 100%;
	}
}

@keyframes fadeIntoBlack {
	from {
		background-image: linear-gradient(to right,#bdc3c7,#2c3e50);
		opacity: 0.6;
	}
	to {
		opacity: 0;
	}
}